{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "img/slides/1.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Web enabled</h3>
					<p>iRoad 2.0 is a web application based on standard Java technology.
                        the application runs on any Java enabled web server.
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/2.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Open Source</h3>
					<p>iRoad 2.0 is released as free and open software under the BSD license.
                        This means that it is not only available for download free of charge.</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/3.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Extensible with apps</h3>
					<p>The iRoad 2.0 platform allows you to create and install Apps on any running instance.
                        iRoad 2.0 features a rich RESTful Web API.</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>iRoad2</span> Collect, manage, visualize and explore your data</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
<section id="content">
	<div class="container">
        <div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>iRoad 2.0 Demo</h4>
								<div class="icon">
								<i class="fa fa-desktop fa-3x"></i>
								</div>
								<p class="">
								 Get a quick live demo of iRoad 2.0 with all it's functionalities at <a href="http://roadsafety.udsm.ac.tz/demo/">Demo site</a>
								</p>

							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Documentation</h4>
								<div class="icon">
								<i class="fa fa-pagelines fa-3x"></i>
								</div>
								<p>
								 Visit the iRoad 2.0 system Documentations for end users, administrators and developers at
                                    <a href="http://roadsafety.readthedocs.org/">Documentation site</a>
								</p>

							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Data Model</h4>
								<div class="icon">
								<i class="fa fa-edit fa-3x"></i>
								</div>
								<p>
								 Visit the iRoad 2.0 meta data model designed to be completely flexible. at
                                    <a href="#">iRoad 2.0 Data Model</a>
								</p>

							</div>
							<div class="box-bottom">
								<a href="http://roadsafety.udsm.ac.tz/wikis/data-model/">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Development</h4>
								<div class="icon">
								<i class="fa fa-code fa-3x"></i>
								</div>
								<p>
								 Get started with developing for iRoad 2.0 through HTML 5.0, CSS3 and Javascripts, visit docs at
                                    <a href="http://roadsafety.readthedocs.org/">Developer docs page</a>
								</p>

							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Integrated System</h4>
								<div class="icon">
								<i class="fa fa-desktop fa-3x"></i>
								</div>
								<p class="">
								 iRoad 2.0 is typically aimed to be used as national road safety information systems
                                    for data management and analysis purposes
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Flexible</h4>
								<div class="icon">
								<i class="fa fa-pagelines fa-3x"></i>
								</div>
								<p>
								 The iRoad 2.0 meta data model is completely flexible.
                                    This implies that no development effort is needed to cater for
                                    special requirements for data entry or analysis.
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Interoperable</h4>
								<div class="icon">
								<i class="fa fa-edit fa-3x"></i>
								</div>
								<p>
								 iRoad 2.0 supports the official format for road safety data exchange called SDMX-HD.
                                    This makes the system interoperable with other software applications in the domain.
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Modular</h4>
								<div class="icon">
								<i class="fa fa-code fa-3x"></i>
								</div>
								<p>
								 iRoad 2.0 has a modular architecture. From an implementer perspective this means that
                                    it's possible to include the modules and the functionality which are required in your context.
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- Portfolio Projects -->
{#		<div class="row">#}
{#			<div class="col-lg-12">#}
{#				<h4 class="heading">Recent Works</h4>#}
{#				<div class="row">#}
{#					<section id="projects">#}
{#					<ul class="portfolio" id="thumbs">#}
{#						<!-- Item Project and Filter Name -->#}
{#						<li data-type="web" data-id="id-0" class="col-lg-3 design">#}
{#						<div class="item-thumbs">#}
{#						<!-- Fancybox - Gallery Enabled - Title - Full Image -->#}
{#						<a href="{% static "img/works/1.jpg" %}" title="Work 1" data-fancybox-group="gallery" class="hover-wrap fancybox">#}
{#						<span class="overlay-img"></span>#}
{#						<span class="overlay-img-thumb font-icon-plus"></span>#}
{#						</a>#}
{#						<!-- Thumb Image and Description -->#}
{#						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/1.jpg" %}">#}
{#						</div>#}
{#						</li>#}
{#						<!-- End Item Project -->#}
{#						<!-- Item Project and Filter Name -->#}
{#						<li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">#}
{#						<!-- Fancybox - Gallery Enabled - Title - Full Image -->#}
{#						<a href="{% static "img/works/2.jpg" %}" title="Work 2" data-fancybox-group="gallery" class="hover-wrap fancybox">#}
{#						<span class="overlay-img"></span>#}
{#						<span class="overlay-img-thumb font-icon-plus"></span>#}
{#						</a>#}
{#						<!-- Thumb Image and Description -->#}
{#						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/2.jpg" %}">#}
{#						</li>#}
{#						<!-- End Item Project -->#}
{#						<!-- Item Project and Filter Name -->#}
{#						<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">#}
{#						<!-- Fancybox - Gallery Enabled - Title - Full Image -->#}
{#						<a href="{% static "img/works/3.jpg" %}" title="Work 3" data-fancybox-group="gallery" class="hover-wrap fancybox">#}
{#						<span class="overlay-img"></span>#}
{#						<span class="overlay-img-thumb font-icon-plus"></span>#}
{#						</a>#}
{#						<!-- Thumb Image and Description -->#}
{#						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/3.jpg" %}">#}
{#						</li>#}
{#						<!-- End Item Project -->#}
{#						<!-- Item Project and Filter Name -->#}
{#						<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">#}
{#						<!-- Fancybox - Gallery Enabled - Title - Full Image -->#}
{#						<a href="{% static "img/works/4.jpg" %}" title="Work 4" data-fancybox-group="gallery" class="hover-wrap fancybox">#}
{#						<span class="overlay-img"></span>#}
{#						<span class="overlay-img-thumb font-icon-plus"></span>#}
{#						</a>#}
{#						<!-- Thumb Image and Description -->#}
{#						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/4.jpg" %}">#}
{#						</li>#}
{#						<!-- End Item Project -->#}
{#					</ul>#}
{#					</section>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}

	</div>
	</section>

{% endblock %}
